.wcf-product-repeater-field__product {
	display: flex;
}

.wcf-product-repeater-field__product button {
	padding: 7px;
	text-align: center;
	// margin: 5px 15px 0px 15px;
}

.wcf-repeater-dashicon {
	margin: 7px 15px 0 0;
}

.wcf-product-repeater-field__options {
	padding: 10px 0 10px 35px;
	display: flex;
}

.wcf-product-repeater-field {
	padding: 10px 0 30px;
}

.wcf-checkout-product-selection-field__add-new .button {
	margin: 10px;
}

.wcf-add-new-product {
	margin-right: 15px;
}
