.wcf-display--popup {
	position: absolute;
	display: flex;
	align-items: center;
	top: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	min-height: 780px;
	border-radius: 2px;
	background: #f1f1f1;
	margin: 0 auto;
	z-index: 99;

	// .wcf-welcome {
	// 	width: 850px;
	// 	border: 1px solid #ddd;
	// 	margin: 40px auto;
	// 	border-radius: 2px;
	// 	background: #fff;
	// 	padding: 0;
	// }

	.wcf-metabox__header {
		margin: 0;
		padding: 0;
		width: 100%;
		border-bottom: 1px solid #ddd;

		.wcf-metabox__title {
			h2 {
				text-transform: uppercase;
				font-size: 14px;
				margin-right: 10px;
				font-weight: 600;
				line-height: 1;
				padding-left: 25px;

				.cartflows-logo-icon {
					font-size: 16px;
					margin-right: 8px;
				}
			}
		}
	}

	.wcf-metabox__body {
		width: 720px;
		margin: 0 auto;
	}

	.wcf-metabox__body,
	.wcf-metabox__footer {
		padding: 15px 30px;
	}

	.wcf-metabox__footer a.button {
		max-width: 250px;
	}

	.wcf-metabox__body iframe {
		box-shadow: 0 20px 50px -25px #43434399;
		border-radius: 4px;
	}

	.wcf-metabox__footer p,
	.wcf-metabox__footer .wcf-welcome__action-buttons {
		text-align: center;
		margin-top: 10px;
	}
}

.wcf-welcome {
	.wcf-metabox__header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		position: relative;
	}

	.wcf-metabox__body {
		.iframe-wrap {
			margin-top: 20px;

			iframe {
				border-radius: 2px;
				box-shadow: none;
			}
		}
	}

	.wcf-metabox__footer {
		p {
			font-size: 14px;
		}

		.wcf-welcome__action-buttons {
			padding-bottom: 30px;
		}
	}

	.wcf-welcome--button {
		font-size: 14px;
		min-height: 46px;
		line-height: 3.14285714;
		padding: 0 36px;
		margin-top: 20px;
	}

	.wcf-welcome--button.button-primary {
		margin-right: 20px;
	}
}
