.wcf-create-store-checkout-container {
	border: 4px dashed #ddd;
	border-radius: 2px;
	padding: 50px;
	width: 570px;
	margin: 30px auto;
	text-align: center;

	.wcf-flows-header {
		display: flex;
		flex-flow: row;
		align-items: center;
		margin-bottom: 30px;
		padding: 10px;
		justify-content: center;

		.wcf-flows-header__title {
			font-size: 24px;
			line-height: 1;
			color: #444;
			font-weight: 500;
			margin: 0;
		}

		.wcf-flows-sub-header__import,
		.wcf-flows-sub-header__export {
			margin-right: 15px;
		}

		.wcf-button--processing {
			animation: components-button__busy-animation 2.5s linear infinite;
			opacity: 1;
			background-size: 100px 100%;
			background-image: linear-gradient( -45deg, #fafafa 28%, #e0e0e0 0, #e0e0e0 72%, #fafafa 0 );
		}
	}

	.wcf-flows-header__action-buttons {
		.wcf-flows-header__library {
			margin-right: 15px;
		}
	}
	.wcf-learn-how {
		font-size: 1rem;
		margin-top: 3em;

		a {
			text-decoration: none;
		}

		i {
			font-size: initial;
			vertical-align: middle;
		}
	}
}

@keyframes components-button__busy-animation {
	0% {
		background-position: 200px 0;
	}
}
