.wcf-flow-row.is-placeholder {
	padding: 20px 30px;
	border-bottom: 1px solid #d7d7d7;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;

	.wcf-flow-row__title,
	.wcf-flow-row__actions {
		width: 500px;
		padding: 15px;
		background-position: 0 center;
		background-image: linear-gradient( 90deg, #ddd 0, #e8e8e8 40px, #ddd 80px );
		background-size: 600px;
		animation: shine-lines 1.6s infinite linear;
	}

	.wcf-flow-row__actions {
		width: 250px;
		padding: 8px;
	}
}

@keyframes shine-lines {
	0% {
		background-position: -100px;
	}

	40%,
	100% {
		background-position: 340px;
	}
}
