.wcf-order-bumps-rules-page {
	.wcf-rules-rules--text {
		padding: 10px 0 10px 0;
	}
	.wcf-order-bumps-rules--or {
		display: flex;
		justify-content: space-between;
		padding: 15px 0 15px 0;
	}

	.wcf-order-bumps-rules--group {
		.wcf-order-bumps-rule {
			.wcf-order-bumps-rule--select-box {
				display: flex;
				.wcf-skeleton {
					margin-right: 20px;
				}
			}

			.wcf-order-bumps-rule__and {
				margin: 7px 0 7px 0;
			}
		}
	}
}
