{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "browsers": [">0.25%", "not dead"]
        },
        "useBuiltIns": "usage",
        "corejs": 3
      }
    ],
    "@babel/preset-react"
  ],
  "plugins": [
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-transform-runtime",
    [
      "module-resolver",
      {
        "root": ["./src"],
        "alias": {
          "@screens": "./src/Screens",
          "@components": "./src/Components",
          "@routes": "./src/Routes"
        }
      }
    ],
    [
      "@wordpress/babel-plugin-makepot", 
      {
        "domain": "header-footer-elementor"
      }
    ]
  ]
}
