<?xml version="1.0"?>
<ruleset name="WordPress Coding Standards for Plugins">
	<description>Generally-applicable sniffs for WordPress plugins</description>

	<rule ref="PHPCompatibility"/>
	<config name="testVersion" value="8.2-"/>

	<rule ref="WordPress-Core" >
		<exclude name="WordPress.PHP.StrictComparisons.LooseComparison" />
		<exclude name="WordPress.PHP.StrictInArray.MissingTrueStrict" />
		<exclude name="Generic.Arrays.DisallowShortArraySyntax.Found" />
	</rule>
	<rule ref="WordPress-Docs" />
	<rule ref="WordPress-VIP-Go">
		<exclude name="WordPressVIPMinimum.Functions.RestrictedFunctions.wp_remote_get_wp_remote_get" />
		<exclude name="WordPressVIPMinimum.Performance.RemoteRequestTimeout.timeout_timeout" />
		<exclude name="WordPressVIPMinimum.Performance.WPQueryParams.PostNotIn_exclude" />
		<exclude name="WordPress.NamingConventions.ValidVariableName.UsedPropertyNotSnakeCase" />
		<exclude name="WordPress.NamingConventions.ValidVariableName.VariableNotSnakeCase" />
		<exclude name="WordPress.Files.FileName.InvalidClassFileName" />
		<exclude name="Squiz.Commenting.ClassComment.Missing" />
		<exclude name="Squiz.Commenting.FunctionComment.InvalidNoReturn" />
		<exclude name="WordPress.WP.I18n.MissingTranslatorsComment" />
	</rule>

	<rule ref="Generic.Arrays.DisallowLongArraySyntax.Found">
		<type>warning</type>
	</rule>
	
	<!-- Setting textdomain. -->
	<config name="text_domain" value="header-footer-elementor"/>
	<!-- Setting prefix. -->
	<config name="prefixes" value=""/>
	<!-- WP version. -->
	<config name="minimum_supported_wp_version" value="5.2"/>

	<!-- Check all PHP files in directory tree by default. -->
	<arg name="extensions" value="php"/>
	<file>.</file>

	<!-- Show sniff codes in all reports -->
	<arg value="s"/>

	<exclude-pattern>*/node_modules/*</exclude-pattern>
	<exclude-pattern>*/vendor/*</exclude-pattern>
	<exclude-pattern>*/src/*</exclude-pattern>
	<exclude-pattern>*/inc/lib/**</exclude-pattern>
	<exclude-pattern>*/admin/bsf-analytics/*</exclude-pattern>
	<exclude-pattern>*/stubs/*</exclude-pattern>
</ruleset>
