# Start command: composer update --classmap-authoritative && vendor/bin/phpstan analyze

includes:
	- phpstan-baseline.neon # Baseline to ignore error temporary
	# https://github.com/phpstan/phpstan/blob/master/conf/bleedingEdge.neon
	# - vendor/phpstan/phpstan/conf/bleedingEdge.neon
	# - phar://phpstan.phar/conf/bleedingEdge.neon
	- vendor/szepeviktor/phpstan-wordpress/extension.neon
	# - vendor/php-stubs/wordpress-stubs/wordpress-stubs.php
parameters:
	level: 9
	inferPrivatePropertyTypeFromConstructor: true
	scanFiles:
	bootstrapFiles:
		- vendor/php-stubs/wordpress-stubs/wordpress-stubs.php
		- stubs/___elementor-stubs.php
		- tests/php/stubs/hfe-stubs.php
	paths:
		- header-footer-elementor.php
		- admin
		- assets
		- inc
		- languages
		- themes
	ignoreErrors:
		- '#Call to an undefined method [a-zA-Z0-9\\_]+\:\:add_control\(\).$#'
		- '#Access to constant [^\s]+ on an unknown class Elementor\\Controls_Manager\.$#'
		- '#Call to an undefined method [^\s]+\.$#'
		- '#Call to static method [^\s]+ on an unknown class Elementor\\Plugin\.$#'
		- '#Access to static property [^\s]+ on an unknown class Elementor\\Plugin\.$#'
		- '#Access to constant [^\s]+ on an unknown class Elementor\\[^\s]+\.$#'
		- '#Call to static method [^\s]+ on an unknown class Elementor\\[^\s]+\.$#'
		- '#Call to method [^\s]+ on an unknown class Elementor\\[^\s]+\.$#'

