.wcf-steps-page-wrapper {
	// padding: 30px;
	border-top: 1px solid #ededed;
	margin-top: -1px;

	.wcf-list-steps {
		// box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.22);
		margin-bottom: 15px;
	}

	.wcf-step-footer {
		.wcf-create-step {
			border: 1px dashed #cdcdcd;
			background: #f9f9f9;
			color: #444;
			padding: 20px;
			text-align: center;
			display: block;
			width: 100%;
			transition: all 100ms ease-in;
			font-weight: 400;

			&:hover {
				background: transparent;
				border-color: #aaa;
				color: #006799;

				.dashicons-plus::before {
					background: transparent;
					color: #016087;
				}
			}

			.wcf-create-step:hover .wcf-create-step--text {
				border-color: #006799;
				color: #006799;
			}

			.wcf-create-step--text {
				line-height: 1;
				margin-left: 7px;
				font-size: 17px;
				background: transparent;
			}
		}
	}
}

.wcf-no-step-notice {
	padding: 20px 0 40px;
	font-size: 15px;
	color: #444;
	font-weight: 400;
}
