.wcf-ab-test-settings-popup-overlay {
	position: fixed;
	text-align: left;
	background: #000000ba;
	z-index: 9999;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
}

.wcf-ab-test-popup-content {
	width: 510px;
	background: #fff;
	border-radius: 2px;
	left: 50%;
	top: 50%;
	position: absolute;
	transform: translate( -50%, -50% );
	z-index: 100;
}

.wcf-ab-test-settings-popup-overlay .wcf-popup-title-wrap {
	font-size: 14px;
	font-weight: 600;
	padding-left: 8px;
}

.wcf-content-wrap {
	padding: 25px;
	background: #fff;
	border-radius: 0 0 2px 2px;
}

.wcf-ab-settings-header .wcf-cartflows-title {
	font-weight: 500;
	font-size: 16px;
}

.wcf-ab-settings-content .wcf-ab-settings-content__title {
	font-weight: 500;
	width: 100%;
	display: inline-block;
	font-size: 15px;
	margin-bottom: 15px;
}

.wcf-ab-settings-header {
	display: flex;
	justify-content: space-between;
	padding: 15px;
	box-shadow: 0 0 8px rgba( 0, 0, 0, 0.2 );
	border-bottom: 1px solid rgba( 0, 0, 0, 0.1 );
}

.wcf-ab-settings-header .close-icon .wcf-cartflow-icons {
	position: relative;
	color: #ccc;
	cursor: pointer;
	display: inline-block;
}

.wcf-ab-settings-header .close-icon .wcf-cartflow-icons:hover {
	color: #aaa;
}

.wcf-ab-settings-footer {
	display: flex;
	justify-content: flex-end;
	padding: 10px 35px 0;
}

/* Action Buttons */
.wcf-ab-test-save.button-primary.updating-message::before {
	color: #fff;
	margin: 7px 5px 0 -4px;
	font-size: 18px;
}

.wcf-popup-actions-wrap .button.wcf-ab-test-cancel {
	display: none;
}

.wcf-popup-actions-wrap .button.wcf-ab-test-save {
	padding: 3px 25px;
}

.wcf-traffic-field {
	display: flex;
	align-items: center;
	// margin-bottom: 15px;
}

.wcf-traffic-field .wcf-step-name {
	width: 160px;
	margin-right: 15px;
	line-height: 1.8;
}

.wcf-traffic-field .wcf-traffic-slider-wrap {
	display: flex;
	align-items: center;
	width: 300px;
}

.wcf-traffic-field .wcf-traffic-range {
	width: 190px;
}

.wcf-traffic-field .wcf-traffic-range input {
	width: 150px;
	height: fit-content;
}

.wcf-traffic-field .wcf-traffic-value {
	width: 90px;
	display: flex;
	align-items: center;
}

.wcf-traffic-value .wcf-text-field input {
	height: unset;
	padding: 0 0 0 8px;
}

.wcf-traffic-value input {
	width: 65px;
}

.wcf-traffic-value input::after {
	position: absolute;
	content: "%";
	font-size: 10px;
	color: #b6c3cf;
	left: 43px;
	top: 10px;
}

.wcf-traffic-value .wcf-field__data--content {
	margin-right: 10px;
}

.wcf-traffic-input-field {
	margin-left: 1px !important;
	width: 65px !important;
}

.wcf-traffic-value {
	display: flex;
}

.cartflows-logo-icon {
	font-size: 18px;
}
