.wcf-archived-step {
	// border: 1px solid #ddd;

	.wcf-loader {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;

		position: absolute;
		left: 45%;
	}

	.wcf-dot-loader {
		height: 20px;
		width: 20px;
		border-radius: 50%;
		background-color: #f06335;
		position: relative;
		-webkit-animation: 1.2s grow ease-in-out infinite;
		animation: 1.2s grow ease-in-out infinite;
	}

	.wcf-dot-loader--2 {
		-webkit-animation: 1.2s grow ease-in-out infinite 0.15555s;
		animation: 1.2s grow ease-in-out infinite 0.15555s;
		margin: 0 10px;
	}

	.wcf-dot-loader--3 {
		-webkit-animation: 1.2s grow ease-in-out infinite 0.3s;
		animation: 1.2s grow ease-in-out infinite 0.3s;
	}

	@-webkit-keyframes grow {
		0%,
		40%,
		100% {
			-webkit-transform: scale( 0 );
			transform: scale( 0 );
		}

		40% {
			-webkit-transform: scale( 1 );
			transform: scale( 1 );
		}
	}

	@keyframes grow {
		0%,
		40%,
		100% {
			-webkit-transform: scale( 0 );
			transform: scale( 0 );
		}

		40% {
			-webkit-transform: scale( 1 );
			transform: scale( 1 );
		}
	}
}

.step-overlay :not( .wcf-loader ) {
	opacity: 0.1;
	border: 1px solid #ddd;
}
