.wcf-flow-importer {
	margin-top: 1em;
}

.wcf-step-importer__list {
	margin-top: 2em;

	.wcf-step-row:last-child {
		border: 0;
	}
}

.wcf-item__inner--active {
	border-color: #5b9dd9;
	border-radius: 2px;
}

.wcf-step-library {
	.wcf-items-list {
		margin-left: -20px;
		margin-right: -20px;
		flex-wrap: wrap;
		padding: 0;
		justify-content: flex-start;
		display: flex;
	}

	.wcf-step-library__step-actions {
		background: #fff;
		display: flex;
		justify-content: space-between;
		padding: 0 30px;
		min-height: 50px;
		border-bottom: 1px solid #eee;
		align-items: center;
		position: relative;

		.wcf-button {
			min-height: auto;
			margin-right: 30px;
		}

		h3 {
			font-weight: 500;
			color: #444;
		}

		.wcf-tab-wrapper {
			position: absolute;
			width: 100%;
			height: 100%;
			display: flex;
			align-items: center;
			justify-content: center;
			left: 0;
			right: 0;

			.filter-links {
				display: inline-block;
				margin: 0;
				padding: 0;

				li {
					display: inline-block;

					.get-started-step-item {
						padding: 10px 22px 15px;
						color: #444;
						text-decoration: none;
						border: none;
						align-items: center;
						font-weight: 400;
						font-size: 14px;
						justify-content: center;
						min-width: 100px;
						margin: 0 0 -6px 0;
						width: unset;
						position: relative;

						&:hover {
							color: #f06335;
							border-bottom: 2px solid #f06335;
						}
					}

					.current {
						font-weight: 400;
						color: #f06335;
						border-bottom: 2px solid #f06335;
					}
				}
			}
		}
	}

	.wcf-remote-content {
		padding: 30px;
		background: #fff;
		width: 100%;
		position: relative;
		min-height: 750px;

		.wcf-ready-templates {
			display: none;

			&.current {
				display: block;
			}
		}

		.wcf-start-from-scratch {
			display: none;

			&.current {
				display: flex;
				min-height: 500px;
				align-items: center;
			}

			.wcf-step-library__item {
				max-width: 600px;
				border: 4px dashed #ddd;
				border-radius: 2px;
				padding: unset;
				height: 350px;

				.wcf-step-library__item--scratch__select {
					width: 100%;
					display: flex;
					flex-wrap: wrap;
					padding: 20px 30px;
					align-items: center;
					justify-content: center;

					.wcf-create-step__dropdown-list {
						margin: 0 10px 0 0;

						select {
							width: 200px;
							height: 36px;
							margin: 0;
						}
					}

					.wcf-learn-how {
						width: 100%;
						margin-top: 30px;
					}

					.wcf-create-step__notice-wrap {
						width: 100%;

						.wcf-create-step__notice p {
							font-size: 14px;
							margin: 0 0 20px;
							color: #444;
						}
					}
				}
			}

			.wcf-step-library__item--scratch h3 {
				font-size: 22px;
				font-weight: 500;
				color: #444;
				margin: 0 0 10px;
				width: 100%;
			}
		}
	}
}
