.wcf-coupon-field {
	.wcf-coupon-field-wrapper {
		.wcf__control {
			border: none;
			box-shadow: none;
			border-radius: 0;
			background-color: transparent;
		}
		.css-b8ldur-Input {
			line-height: 1;
		}
		input[type="text"]:focus {
			box-shadow: none;
			outline: none;
		}
	}
}
