.wcf-select2-input {
	.wcf__placeholder {
		color: #4b5563;
		font-weight: 400;
		font-size: 14px;
		line-height: 20px;
	}

	input[type="text"]:focus {
		line-height: 1;
		box-shadow: none;
		outline: none;
	}
}

// .wcf-select2-field {
// 	width: 100%;
// }

// .wcf-selection-field {
// 	display: flex;
// 	align-items: center;
// 	width: 100%;

// 	.wcf-select2-input .wcf__control {
// 		cursor: pointer;
// 	}

// 	.wcf__value-container {
// 		.css-1g6gooi,
// 		div:last-child {
// 			margin: 0;
// 			padding: 0;
// 			color: #444;

// 			input:focus {
// 				box-shadow: none;
// 			}
// 		}
// 	}

// 	.wcf__control .css-1hwfws3m,
// 	.wcf__value-container {
// 		min-height: 36px;
// 		font-weight: 400;
// 		color: #444;
// 	}

// 	.wcf-select2-input {
// 		border-color: #ddd;
// 		border-radius: 2px;
// 		min-width: 300px;

// 		.wcf__menu {
// 			font-weight: 400;
// 			line-height: 1.1;
// 			border-radius: 2px;
// 			color: #555;
// 			background-color: #fff;

// 			.wcf__menu-list {
// 				max-height: 200px;
// 			}

// 			.wcf__option:active,
// 			.wcf__option:hover {
// 				background-color: #f1f1f1;
// 				cursor: pointer;
// 				color: #444;
// 			}
// 		}

// 		.wcf__option--is-focused,
// 		.wcf__option--is-selected {
// 			cursor: pointer;
// 			background-color: #f1f1f1;
// 			color: #444;
// 		}

// 		.wcf__indicator-separator {
// 			background-color: #fff;
// 		}
// 	}

// 	.wcf__control {
// 		border-color: #e5e7eb;
// 		border-radius: 6px;
// 		min-width: 300px;
// 	}

// 	.wcf__value-container,
// 	.wcf__control .wcf__value-container--has-value,
// 	.wcf__control .wcf__value-container--has-value .wcf__single-value {
// 		color: #444;
// 	}

// 	.wcf__control:hover,
// 	.wcf__control:active,
// 	.wcf__control.wcf__control--is-focused {
// 		border-color: #aaa;
// 		box-shadow: none;
// 	}
// }

// .css-2b097c-container {
// 	display: inline;
// 	margin: 0 0 0 30px;
// 	width: 100%;
// }

// .wcf-selection-field label {
// 	display: inline-block;
// }
