span.hfe-shortcode-col-wrap > input {
    background: inherit;
    color: inherit;
    font-size: 12px;
    border: none;
    box-shadow: none;
    padding: 4px 8px;
    margin: 0;
}

input.hfe-large-text{
    width: 99%;
}

.hfe-options-row-heading {
    border-right: 1px solid #E1E1E1;
    padding: 15px;
    width: 45%;
    vertical-align: middle;
}

.hfe-options-row td {
    padding-left: 12px;
    padding-right: 12px;
    border-bottom: 1px solid #f0f0f0;
    zoom: 1;
    vertical-align: middle;
}

.hfe-options-table .hfe-options-row-content {
    padding: 15px 10px;
    position: relative;
    width: 55%;
}

.hfe-options-table.widefat{
	border-width: 0;
}

#ehf-meta-box .inside {
    margin: 0;
    padding: 0;
}

.hfe-options-row-heading label {
    display: inline-block;
    font-size: 13px;
    line-height: 1.4em;
    font-weight: bold;
    padding: 0;
    margin: 0 0 3px;
    color: #333;
}

.hfe-options-row-content select {
    width: 95%;
}

.hfe_radio_options {
    display: inline-block;
}

li#toplevel_page_Settings-page,
.wp-admin #adminmenu .wp-submenu a[href="themes.php?page=hfe-settings"],
.wp-admin #adminmenu .wp-submenu a[href="themes.php?page=hfe-guide"],
.wp-admin #adminmenu .wp-submenu a[href="themes.php?page=hfe-about"] {
    display: none;
}

.appearance_page_hfe-settings #adminmenu .wp-submenu a[href ="edit.php?post_type=elementor-hf" ] {
    color: white;
    font-weight: 600;
}

.hfe-heading-inline {
    font-size: 23px;
    font-weight: 400;
    margin: 0;
    padding: 9px 0 4px 0;
    line-height: 1.3;
}

.hfe-selected-template-type-custom .bsf-target-rules-row,
.hfe-selected-template-type-custom .enable-for-canvas {
    display: none;
}

.hfe-selected-template-type-custom .hfe-shortcode {
    display: table-row;
}
.hfe-shortcode {
    display: none;
}

.hfe-selected-template-type-none .bsf-target-rules-row,
.hfe-selected-template-type-none .hfe-shortcode,
.hfe-selected-template-type-none .enable-for-canvas {
    display: none;
}
/* EHF Settings - Step by Step guide */
.hfe-admin-guide-section.hfe-admin-about-section {
  margin: 0px;
  padding: 0px;
  display: flex;
  background-color: #f1f3f5;
}
.hfe-guide-content .form-table th {
   display: none;
}
.hfe-guide-content .form-table input[type="checkbox"] {
    margin-top: -4px;
    margin-right: 4px;
    float: none;
}
.hfe-input-container {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    width: 100%;
    margin-bottom: 20px;
}
.hfe-subscription-row {
    display: flex;
}
.hfe-subscription-row .hfe-input-container {
    width: 50%;
    margin-right: 10px;
}
.hfe-guide-modal-content .hfe-guide-content .form-table input[type="checkbox"] {
    margin-top: 1px;
    margin-right: 6px;
    float: none;
}
.hfe-guide-modal-content .hfe-checkbox-container {
    display: flex;
    align-items: flex-start;
}
.hfe-subscribe-email {
    padding: 10px 15px;
    min-width: 50px;
    text-align: center;
    border: 1px solid #7e8993;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 0px;
}
.hfe-input-container .dashicons-email {    
    color: #7e8993;
}
input[type="text"].hfe-subscribe-field,
select.hfe-subscribe-field {
    width: 100%;
    padding: 10px 15px;
    outline: none;
    line-height: 1.3;
    border-radius: 0px;
    margin-left: 0px;
}
.hfe-guide-content .hfe_checkbox_options {
    display: inline-block;
}
.hfe-guide-content p.submit {
    text-align: center;
}
.hfe-guide-content input#submit {
    text-transform: uppercase;
}
.hfe-guide-content input#submit.submitting {
    margin-right: 2px;
}
.hfe-admin-guide-section .hfe-admin-column-50:not(.hfe-admin-column-last) {
    padding: 30px;
    border-right: 1px solid #DDDDDD;
}
.hfe-admin-guide-section .hfe-admin-column-last,
.hfe-guide-content {
    padding: 30px;
}
.hfe-guide-content {
    background-color: #efeeee;
    border: 1px solid #DDDDDD;
}
/* EHF Settings - About Us */
.hfe-admin-about-section {
    margin: 0 20px 20px;
    padding: 30px;
    background: #fff;
    /* border: 1px solid #DDDDDD; */
    line-height: 2;
}

.hfe-admin-about-section h1, 
.hfe-admin-about-section h2, 
.hfe-admin-about-section h3, 
.hfe-admin-about-section h4, 
.hfe-admin-about-section h5 {
    margin-top: 0;
    padding-top: 0;
    line-height: 1.6;
}
.hfe-clear:before {
    content: " ";
    display: table;
}

.hfe-clear:after {
    clear: both;
    content: " ";
    display: table;
}
.hfe-admin-columns:after {
  content: "";
  display: table;
  clear: both;
}
.hfe-admin-columns > div[class*="-column-"] {
    float: left;
}
.hfe-admin-columns .hfe-admin-column-40 {
    width: 40%;
}
.hfe-admin-columns .hfe-admin-column-50 {
    width: 50%;
}
.hfe-admin-columns .hfe-admin-column-60 {
    width: 60%;
}
.hfe-admin-columns .hfe-admin-column-last {
    float: right !important;
}
.hfe-admin-about-section figure {
    margin: 0;
}

.hfe-admin-about-section figure img {
    width: 100%;
}

.hfe-admin-about-section figure figcaption {
    font-size: 14px;
    color: #686868;
    margin-top: 5px;
    text-align: center;
    line-height: initial;
}

.hfe-admin-about-section .hfe-admin-column-40 {
    padding-left: 15px;
}

@media (max-width: 767px) {
    .hfe-admin-about-section .hfe-admin-column-40 {
        width: 100%;
        padding-left: 0;
        padding-top: 20px;
    }
}

.hfe-admin-about-section .hfe-admin-column-60 {
    padding-right: 15px;
}

@media (max-width: 767px) {
    .hfe-admin-about-section .hfe-admin-column-60 {
        width: 100%;
        padding-right: 0;
    }
}

.hfe-admin-about-section *, 
.hfe-admin-about-section *::before, 
.hfe-admin-about-section *::after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/* About Us - Plugins section */
#hfe-admin-addons {
    padding: 0 30px;
}
#hfe-admin-addons .addon-container {
    padding: 0 10px;
}

#hfe-admin-addons .addon-item .details {
    padding: 20px;
}

#hfe-admin-addons .addon-item img {
    padding: 10px;
}

#hfe-admin-addons .addon-item img[src*="-mi"] {
    padding: 13px;  
}

#hfe-admin-addons .addon-item .action-button .button {
    display: inline-block;
    text-decoration: none;
    font-size: 13px;
    line-height: 26px;
    height: 28px;
    margin: 0;
    padding: 0 10px 1px;
    box-shadow: 0 1px 0 #cccccc;
    cursor: pointer;
    -webkit-appearance: none;
    border-radius: 3px;
    border: 1px solid #cccccc;
    background: #f7f7f7;
    font-weight: normal;
}

#hfe-admin-addons .addon-item .action-button .button:hover, 
#hfe-admin-addons .addon-item .action-button .button:focus {
    background: #fafafa;
    border-color: #999;
    color: #23282d;
}

#hfe-admin-addons .addon-item .action-button .button.button-primary {
    background: #0085ba;
    border-color: #0073aa #006799 #006799;
    box-shadow: 0 1px 0 #006799;
    color: #fff;
    text-shadow: 0 -1px 1px #006799, 1px 0 1px #006799, 0 1px 1px #006799, -1px 0 1px #006799;
}

#hfe-admin-addons .addon-item .action-button .button.button-primary:hover, 
#hfe-admin-addons .addon-item .action-button .button.button-primary:focus {
    background: #008ec2;
    border-color: #006799;
    color: #fff;
}

#hfe-admin-addons .addon-item .action-button .button.button-secondary {
    color: #555;
    border-color: #cccccc;
    background: #f7f7f7;
    box-shadow: 0 1px 0 #cccccc;
}

#hfe-admin-addons .addon-item .action-button .button.button-secondary:hover, 
#hfe-admin-addons .addon-item .action-button .button.button-secondary:focus {
    background: #fafafa;
    border-color: #999;
    color: #23282d;
}

#hfe-admin-addons .addon-item .action-button .button.disabled {
    cursor: default;
}
#hfe-admin-addons .website-link {
    width: 100%;
    text-align: right;
}
#hfe-admin-addons *,
#hfe-admin-addons *::before,
#hfe-admin-addons *::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#hfe-admin-addons #hfe-admin-addons-list .list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -20px;
  margin-right: -20px;
}

#hfe-admin-addons .addons-container {
  margin-left: -20px;
  margin-right: -20px;
}

#hfe-admin-addons .addon-container {
  padding: 0 20px;
  float: left;
  width: 33.333333%;
  margin-bottom: 20px;
}

@media (max-width: 1249px) {
  #hfe-admin-addons .addon-container {
    width: 50%;
  }
}

@media (max-width: 767px) {
  #hfe-admin-addons .addon-container {
    width: 100%;
    margin-bottom: 20px;
  }
}

#hfe-admin-addons h4 {
  font-size: 17px;
  font-weight: 700;
}

#hfe-admin-addons .addon-item {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 3px;
  margin: 0;
}

@media (max-width: 767px) {
  #hfe-admin-addons .addon-item {
    margin: 0 0;
  }
}

#hfe-admin-addons .addon-item img {
  border: 1px solid #eee;
  float: left;
  max-width: 75px;
}

#hfe-admin-addons .addon-item h5 {
  margin: 0 0 10px 100px;
  font-size: 16px;
}

#hfe-admin-addons .addon-item p {
  margin: 0 0 0 100px;
}

#hfe-admin-addons .addon-item .details {
  padding: 30px 20px;
}

#hfe-admin-addons .addon-item .actions {
  display: flex;
  align-items: center;
  background-color: #f7f7f7;
  border-top: 1px solid #ddd;
  padding: 0px 20px;
  min-height: 50px;
  position: relative;
}

/* Modal Popup */
.hfe-modal-close {
    position: fixed;
    z-index: 9999;
    cursor: pointer;
    font-size: 1.6em;
    text-align: center;
    top: 50px;
    right: 50px;
    visibility: hidden;
}
span.dashicons.dashicons-no {
    color: #ffffff;
    font-size: 25px;
    line-height: 25px;
    height: 25px;
    width: 25px;
}
.hfe-guide-modal-content .dashicons-heart:before {
    color: #d64242;
}
.hfe-guide-modal-header {
    padding: 10px;
    text-align: center;
}
.hfe-guide-modal-popup-wrapper .heading {
    background: #ffffff;
    padding: 0px 35px;
    margin-top: 0;
    box-shadow: 0 0 8px rgb(0 0 0 / 10%);
    display: flex;
    justify-content: space-between;
}
.hfe-guide-modal-popup-wrapper .close {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    height: 53px;
    line-height: 53px;
    width: 53px;
    cursor: pointer;
    border-left: 1px solid #eee;
    color: #aaa;
    font-size: 22px;
    opacity: 1;
    visibility: visible;
}
.hfe-guide-modal-overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    visibility: hidden;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    opacity: 0;
    background: rgba(0,0,0,0.75);
    -webkit-transition: all .5s;
    transition: all .5s;
}
.hfe-guide-modal-content {
    width: 70%;
    background-color: #ffffff;
    opacity: 0;
    position: relative;
    margin: 0 auto;
    transition: all .5s;
    left: 5%;
}
.hfe-guide-modal-popup-wrapper {
    z-index: 99999;
    top: 51%;
    transform: translateY(-50%);
    margin-bottom: 20px;
    visibility: hidden;
    position: fixed;
    left: 0;
    width: 100%;
    max-width: 100%;
    bottom: auto;
}
.hfe-show {
    z-index: 9999;
} 
.hfe-show .hfe-modal-close, 
.hfe-show .hfe-modal-close.action-button,
.hfe-show .hfe-guide-modal-content {
    visibility: visible;
}
.hfe-show .hfe-guide-modal-overlay {
    opacity: 1;
    visibility: visible;
}
.hfe-show .hfe-guide-modal-content {
    opacity: 1;
}
.hfe-input-container.hfe-error .hfe-subscribe-field,
.hfe-input-container.hfe-error .hfe-subscribe-email,
.hfe-checkbox-container input[type="checkbox"].hfe-error {
    border-color: #d11212;
}
.hfe-checkbox-container input[type="checkbox"]:checked.hfe-error {
    border-color: unset;
}
span.hfe-subscribe-message {
    width: 100%;
    display: block;
    text-align: center;
    color: #12b512;
    margin-top: 10px;
}
span.hfe-subscribe-message.success {
    color: #12b512;
}
span.hfe-subscribe-message.error {
    color: #d11212;
}
span.dashicons.dashicons-update.hfe-loader {
    animation: rotation 2s infinite linear;
    vertical-align: text-top;
}
span.hfe-star-icons {
    color: #ffb900;
    font-size: 15px;
}
@media screen and ( max-width: 782px ) {
    .hfe-admin-guide-section .hfe-admin-column-50:not(.hfe-admin-column-last) {
        border-right: 0px;
    }
    .hfe-admin-guide-section.hfe-admin-columns .hfe-admin-column-50 {
        width: 100%;
    }
    .hfe-subscribe-email span.dashicons.dashicons-email {
        font-size: 15px;
        height: 15px;
        line-height: 1;
        width: 15px;
    }
    .hfe-subscribe-email input.hfe-subscribe-field {
        min-height: unset;
        font-size: 10px;
    }
    .hfe-subscribe-email,
    .hfe-subscribe-field {
        padding: 5px;
    }
    .hfe-subscribe-email {
        min-width: 20%
    }
    .hfe-admin-guide-section.hfe-admin-about-section {
        display: block;
    }
    .hfe-guide-content .form-table input[type="checkbox"] {
        height: 1em;
        width: 1em;
        margin-top: 1px;
        margin-right: 6px;
        float: none;
    }
    .hfe-guide-content .form-table input[type="checkbox"]:checked:before {
        height: 1em;
        width: 1em;
        margin: -1px;
    }
    .hfe-guide-content input#submit {
        font-size: 10px;
        white-space: pre-wrap;
        line-height: 2em;
    }
    .hfe-checkbox-container {
        display: flex;
    }
    .hfe-admin-columns .hfe-admin-column-last {
        padding-top: 0px;
    }
}
