span.hfe-shortcode-col-wrap > input {
    background: inherit;
    color: inherit;
    font-size: 12px;
    border: none;
    box-shadow: none;
    padding: 4px 8px;
    margin: 0;
}

input.hfe-large-text{
    width: 99%;
}

.hfe-options-row-heading {
    border-right: 1px solid #E1E1E1;
    padding: 15px;
    width: 45%;
    vertical-align: middle;
}

.hfe-options-row td {
    padding-left: 12px;
    padding-right: 12px;
    border-bottom: 1px solid #f0f0f0;
    zoom: 1;
    vertical-align: middle;
}

.hfe-options-table .hfe-options-row-content {
    padding: 15px 10px;
    position: relative;
    width: 55%;
}

.hfe-options-table.widefat{
	border-width: 0;
}

#ehf-meta-box .inside {
    margin: 0;
    padding: 0;
}

.hfe-options-row-heading label {
    display: inline-block;
    font-size: 13px;
    line-height: 1.4em;
    font-weight: bold;
    padding: 0;
    margin: 0 0 3px;
    color: #333;
}

.hfe-options-row-content select {
    width: 95%;
}

.hfe-options-row-heading-help{
    color: #b3b3b3;
    cursor: help;
    float: right;
    font-size: 18px;
}

.hfe_radio_options {
    display: inline-block;
    font-weight: bold;
}

.hfe-table td{
    padding-top: 34px;
}

.hfe-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
}
.hfe-settings-header {
    background-color: #fff;
    text-align: center;
    padding: 10px 0;
    margin-bottom: 20px;
    box-shadow: 0 2px 0 #efefef, 0 2px 2px #ececec;
}   } 