span.hcf-shortcode-col-wrap > input {
    background: inherit;
    color: inherit;
    font-size: 12px;
    border: none;
    box-shadow: none;
    padding: 4px 8px;
    margin: 0;
}

input.hcf-large-text{
    width: 99%;
}