.wcf-checkout-offer-settings.wcf-checkout__section {
	&.is-placeholder {
		.wcf-list-options {
			.wcf-list-options__title {
				.title {
					padding: 15px;
					width: 50%;
					background-position: 0 center;
					background-image: linear-gradient( 90deg, #ddd 0, #e8e8e8 10px, #ddd 80px );
					animation: shine-lines 1.6s infinite linear;
				}
			}

			table {
				tr {
					.checkbox-title {
						margin-bottom: 20px;
						padding: 10px;
						width: 15%;
						background-position: 0 center;
						background-image: linear-gradient( 90deg, #ddd 0, #e8e8e8 10px, #ddd 80px );
						animation: shine-lines 1.6s infinite linear;
					}

					.title {
						margin-bottom: 10px;
						padding: 15px;
						width: 30%;
						background-position: 0 center;
						background-image: linear-gradient( 90deg, #ddd 0, #ddd 80px );
						animation: shine-lines 1.6s infinite linear;
					}
				}
			}

			.wcf-field.wcf-submit {
				margin-top: 20px;

				.wcf-checkout-offer__button {
					width: 10%;
					padding: 20px;
					background-position: 0 center;
					border-right: 1px #fff solid;
					background-image: linear-gradient( 90deg, #ddd 0, #e8e8e8 10px, #ddd 80px );
					animation: shine-lines 1.6s infinite linear;
				}
			}
		}
	}
}

@keyframes shine-lines {
	0% {
		background-position: -250px;
	}

	40%,
	100% {
		background-position: 0;
	}
}
