.footer-width-fixer {
    width: 100%;
}

/* Container fix for genesis themes */

.ehf-template-genesis.ehf-header .site-header .wrap,
.ehf-template-genesis.ehf-footer .site-footer .wrap,
.ehf-template-generatepress.ehf-header .site-header .inside-header {
    width: 100%;
    padding: 0;
    max-width: 100%;
}

/* Container fix for generatepress theme */

.ehf-template-generatepress.ehf-header .site-header,
.ehf-template-generatepress.ehf-footer .site-footer {
    width: 100%;
    padding: 0;
    max-width: 100%;
    background-color: transparent !important; /* override generatepress default white color for header */
}

.bhf-hidden {
    display: none
}

/* Fix: Header hidden below the page content */
.ehf-header #masthead {
	z-index: 200;
    position: relative;
}

/* Post Navigation Widget CSS */

.hfe-post-navigation {
    overflow: hidden;
    display: flex;
}

.hfe-post-navigation .hfe-post-nav-link {
    width: calc( 50% - ( 1px / 2 ));
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.hfe-post-navigation .hfe-post-nav-link a {
    display: flex;
    align-items: center;
    max-width: 100%;
}

.hfe-post-navigation span.hfe-post-nav-link-next, 
.hfe-post-navigation span.hfe-post-nav-link-prev {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.hfe-post-navigation .hfe-post-nav-prev-label, 
.hfe-post-navigation .hfe-post-nav-prev-title, 
.hfe-post-navigation .hfe-post-nav-next-label, 
.hfe-post-navigation .hfe-post-nav-next-title {
    overflow: hidden;
    text-overflow: ellipsis;
}

.hfe-post-navigation .hfe-post-nav-arrow-wrapper i {
    transform: translateY(-5%);
}

.hfe-post-navigatio span.hfe-post-nav-link-next {
     text-align: right; 
}

.hfe-post-navigation .hfe-post-nav-next a {
    float: right;
}



