.wcf-steps-chart {
	.wcf-custom-node-design {
		position: relative;
	}
	.wcf-node-actions {
		visibility: hidden;
	}

	.wcf-node-action-delete {
		visibility: hidden;
	}

	.react-flow__node-offer {
		//Need to remove in RTL branch
		.react-flow__handle-right-a {
			top: 8px;
			right: -4px;
			transform: none;
		}
		//Need to remove in RTL branch
		.react-flow__handle-right-b {
			top: auto;
			bottom: 8px;
			right: -4px;
			transform: none;
		}
	}

	.react-flow__node-checkout,
	.react-flow__node-landing,
	.react-flow__node-offer,
	.react-flow__node-thankyou,
	.react-flow__node-optin {
		font-size: 12px;
		color: #222;
		text-align: center;

		.wcf-handle-left,
		.wcf-handle-right {
			top: 45%;
		}

		.wcf-custom-node-label {
			font-size: 18px;
			text-align: center;
			padding: 20px;
		}

		.wcf-custom-node-design {
			border: 1px solid rgb( 194, 194, 194 );
			border-radius: 10px;
			background-repeat: no-repeat;
			width: 200px;
			height: 259px;
		}
	}
	.react-flow__node-conditional {
		font-size: 12px;
		text-align: center;

		.wcf-handle-left {
			top: 42%;
		}

		.wcf-custom-node-label {
			font-size: 18px;
			text-align: center;
			padding: 20px 0;
		}

		.wcf-custom-node-design {
			border: 1px solid rgb( 194, 194, 194 );
			border-radius: 10px;
			background-repeat: no-repeat;
			height: 137px;
			width: 117px;
			position: relative;

			.wcf-node-actions {
				visibility: hidden;
			}
		}
	}

	.react-flow__node-landing.selected,
	.react-flow__node-checkout.selected,
	.react-flow__node-offer.selected,
	.react-flow__node-optin.selected,
	.react-flow__node-thankyou.selected {
		.wcf-custom-node-wrapper {
			padding: 10px;
			margin: -11px;
			border: 1px solid #ec4a8e;
			position: relative;

			.wcf-rect {
				height: 10px;
				width: 10px;
				position: absolute;
				border: 1.5px solid #f00;
				background: #fff;
				border-radius: 3px;
			}

			.top-left {
				left: -5px;
				top: -5px;
			}
			.top-right {
				right: -5px;
				top: -5px;
			}
			.botton-left {
				left: -5px;
				top: 274px;
			}
			.bottom-right {
				right: -5px;
				top: 274px;
			}
		}

		.wcf-node-actions {
			position: absolute;
			background: #fff;
			visibility: visible;
			left: 35px;
			border-radius: 2px;
			top: -75px;
			display: flex;
			padding: 2px 5px 2px 5px;

			a {
				text-decoration: none;
				cursor: pointer;
				padding: 10px;
				.dashicons {
					margin-bottom: 5px;
					color: #484848;
					font-size: 25px;
				}
				display: block;
			}

			a :hover,
			a :focus {
				color: #2271b1;
			}
		}

		.wcf-node-actions::before {
			content: "";
			width: 20px;
			height: 20px;
			border: 1px solid #f4f4f4;
			top: 36px;
			position: absolute;
			transform: rotate( 45deg );
			border-left: none;
			border-top: none;
			left: 56px;
			background-color: #fff;
		}
	}

	.react-flow__node-conditional.selected {
		.wcf-custom-node-wrapper {
			padding: 10px;
			margin: -11px;
			border: 1px solid #ec4a8e;
			position: relative;

			.wcf-rect {
				height: 10px;
				width: 10px;
				position: absolute;
				border: 1.5px solid #f00;
				background: #fff;
				border-radius: 3px;
			}

			.top-left {
				left: -5px;
				top: -5px;
			}
			.top-right {
				right: -5px;
				top: -5px;
			}
			.botton-left {
				left: -5px;
				top: 152px;
			}
			.bottom-right {
				right: -5px;
				top: 152px;
			}
		}

		.wcf-node-actions {
			position: absolute;
			background: #fff;
			visibility: visible;
			left: 37px;
			border-radius: 2px;
			top: -67px;
			display: flex;
			padding: 2px 5px 2px 5px;

			a {
				text-decoration: none;
				cursor: pointer;

				padding: 10px;

				.dashicons {
					margin: 0 0 0 -1px;
					color: #484848;
					font-size: 25px;
					line-height: 20px;
					display: block;
					width: 25px;
					height: 20px;
				}
				display: block;
			}

			a :hover,
			a :focus {
				color: #2271b1;
			}
		}

		.wcf-node-action-delete {
			visibility: hidden;
		}

		.wcf-node-actions::before {
			content: "";
			width: 20px;
			height: 20px;
			border: 1px solid #f4f4f4;
			top: 29px;
			position: absolute;
			transform: rotate( 45deg );
			border-left: none;
			border-top: none;
			left: 16px;
			background-color: #fff;
			z-index: -1;
		}
	}
}
