.wcf-metabox {
	background: #fff;
	box-shadow: none;
	margin-bottom: 20px;
	border: 0;
	padding: 30px 20px;
	border-radius: 2px;

	h2 {
		font-size: 18px;
		margin: 0;
		font-weight: 400;
	}
}

.wcf-metabox__header,
.wcf-metabox__body,
.wcf-metabox__footer {
	padding: 10px;
	border-bottom: 0;
}

.wcf-metabox__footer {
	padding-bottom: 0;
}

.wcf-metabox__footer p {
	margin-top: 10px;
	font-size: 14px;
}
