@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css?family=Josefin+Sans");

/* Add to your main CSS file (e.g., index.css) */

.toplevel_page_hfe #wpcontent,
.post-type-elementor-hf #wpcontent {
    padding-left: 0;
}
.post-type-elementor-hf #wpbody-content .wrap {
	padding-left: 20px;
}
.post-type-elementor-hf .wp-heading-inline {
	font-size: 18px;
}
.post-type-elementor-hf #adminmenu .wp-submenu a[href ="edit.php?post_type=elementor-hf" ] {
    color: #ffffff;
    font-weight: 600;
}

:is(#hfe-settings-app, [data-floating-ui-portal]) .uae-steps span.absolute {
	font-size: 13px;
}
:is(#hfe-settings-app, [data-floating-ui-portal]) .uae-steps .ring-border-subtle {
	--tw-ring-color: #64748B;
}
:is(#hfe-settings-app, [data-floating-ui-portal]) .uae-steps .border-border-subtle {
	border-color: #64748B;
}
:is(#hfe-settings-app, [data-floating-ui-portal]) .uae-steps .min-w-10.border-y {
	min-width: 9rem;
	border-bottom-width: 0.5px;
}

#hfe-settings-app .loader {
	border: 4px solid #f3f3f3;
	border-radius: 50%;
	border-top: 4px solid #3498db;
	width: 40px;
	height: 40px;
	animation: spin 2s linear infinite;
}
.hfe-custom-scrollbar::-webkit-scrollbar {
	width: 4px;
}  
/* Track */
.hfe-custom-scrollbar::-webkit-scrollbar-track {
	background: #f1f1f1; 
}
   
/* Handle */
.hfe-custom-scrollbar::-webkit-scrollbar-thumb {
	background: #888; 
}
  
/* Handle on hover */
.hfe-custom-scrollbar::-webkit-scrollbar-thumb:hover {
	background: #555; 
}

.hfe-subheading h2 {
	font-size: 1.1rem !important;
}
.hfe-subheading .text-text-secondary {
	font-size: 0.98rem !important;
}
.hfe-loader-icon {
	top: -15%;
}
.hfe-remove-ring.hfe-span span {
	padding-left: 0px;
}
#hfe-settings-app .gap-2 {
	gap: 1.2rem;
}
.hfe-remove-ring input[type="checkbox"],
.hfe-remove-ring a,
.hfe-remove-ring {
	outline: none;
	--tw-ring-inset: auto;
	box-shadow: unset;
}
.hfe-settings-page h2 {
	margin-bottom: 0.3rem !important;
}
:is(#hfe-settings-app) .hfe-remove-ring svg.lucide-arrow-right {
	width: 1rem;
	height: 1rem;
}
.hfe-popup-button,
.hfe-popup-button svg {
	padding: 0;
}
.hfe-popup-button span {
	padding-left: 0;
}
.hfe-link-color,
.hfe-link-color span {
	color: rgb(96, 5, 255);
}
#hfe-settings-app .hfe-header-title h6 {
	color: #858484;
	font-size: 14px;
}
.hfe-settings-content-wrapper {
	padding: 15px 25px;
}
button.hfe-plugin-activated {
	color: #16a34a;
}
button.hfe-bulk-action-button {
	width: 160px;
}
.hfe-subtitle h2 {
	font-size: 0.9rem;
}
.hfe-65-width {
	width: 65%;
}
.hfe-35-width {
	width: 35%;
}
.hfe-78-width {
	width: 78%;
}
.hfe-88-width {
	width: 88%;
}

/* Sticky Right Sidebar */
.hfe-sticky-right-sidebar {
	position: sticky !important;
	top: 30px !important;
	align-self: flex-start !important;
}

#hfe-settings-app .subject-cell {
	max-width: 200px; /* Adjust this width based on your layout */
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.hfe-tooltip-wrap {
	width: 100%;
    text-align: right;
}
.toplevel_page_hfe #wpcontent {
	padding-left: 0;
}
div#hfe-settings-app {
	font-size: 15px;
	font-weight: 500;
	line-height: normal;
}

input[type="radio"].hfe-radio-field:checked::before {
	content: "";
    border-radius: 50%;
    width: 0.5rem;
    height: 0.5rem;
    margin: 0.1875rem;
    background-color: #6005FF;
    line-height: 1.14285714;
}
input[type="radio"].hfe-radio-field:focus {
	border-color: #6005ff;
	box-shadow: 0 0 0 1px #6005ff;
}
.hfe-compare-section h6 {
	font-size: 0.9rem !important;
	font-weight: 500 !important;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
@media (min-width: 769px) {
	.hfe-sticky-outer-wrapper {
		width: 23%;
		border-right: 1px solid #e5e7eb;
	}
	.hfe-sticky-sidebar {
		position: sticky;
		top: 0;
	}
	.hfe-settings-page:before {
		animation-fill-mode: both;
		background: #fff;
		content: " ";
		height: 100%;
		position: fixed;
		left: 0;
		top: 0;
		transform-origin: right;
		border-right: 1px solid #e5e7eb;
		width: 30%;
	}
	.hfe-nav-menu {
		border-bottom: 1px solid #e5e7eb;
	}
}

@media (max-width: 768px) {
	#toplevel_page_hfe .container {
		padding: 0 1rem;
	}

	#toplevel_page_hfe .fixed {
		justify-content: flex-start !important;
	}

	#toplevel_page_hfe .bg-white {
		width: 100% !important;
		height: 100% !important;
		border-radius: 0 !important;
	}
	
	/* Disable sticky on mobile */
	.hfe-sticky-right-sidebar {
		position: static !important;
		max-height: none !important;
		overflow-y: visible !important;
	}
}
:is(#hfe-settings-app, [data-floating-ui-portal]) .uae-steps .text-xs {
	font-size: 0.77rem;
}
.hfe-min-700 {
	min-width: 700px;
}
#hfe-settings-app .subject-cell {
	max-width: 200px; /* Adjust this width based on your layout */
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

/* .hfe-menu-page-wrapper {
	width: calc( 100% - 25px);
} */
#hfe-settings-app .gap-2 {
    gap: 1.2rem;
}
div#hfe-settings-app {
    font-size: 15px;
    font-weight: 500;
    line-height: normal;
}
/* #hfe-settings-app .p-5 {
    padding: 0.5rem 1.25rem;
} */
#hfe-settings-app .hfe-header-title h6 {
	color: #858484;
	font-size: 14px;
}
.hfe-settings-content-wrapper {
	padding: 15px 25px;
}
@media (max-width: 1024px) {
	.hfe-65-width,
	.hfe-35-width,
	.hfe-78-width,
	.hfe-88-width {
		width: 100%;
	}
}
@media screen and (max-width: 782px) {
	:is(#hfe-settings-app, [data-floating-ui-portal]) .hfe-display-flex {
		display: block;
	}
	.hfe-radio-option {
		width: 1rem !important;
		height: 1rem !important;
	}
	.hfe-radio-option:checked:before {
		width: 0.5rem !important;
		height: 0.5rem !important;
		margin: 0.18rem !important;
	}
	:is(#hfe-settings-app, [data-floating-ui-portal]) .uae-steps,
	#hfe-settings-app img {
		display: none;
	}
	.hfe-onboarding-customize {
		margin-left: 20px;
    	margin-right: 20px;
	}
	.hfe-min-700 {
		min-width: unset;
	}
	.hfe-onboarding-customize .hfe-custom-scrollbar {
		overflow: scroll;
		max-width: fit-content;
	}
        .hfe-onboarding-bottom {
                display: grid !important;
                max-width: fit-content;
        }
}

body.hfe-onboarding-fullscreen #wpadminbar,
body.hfe-onboarding-fullscreen #adminmenuback,
body.hfe-onboarding-fullscreen #adminmenuwrap,
body.hfe-onboarding-fullscreen #adminmenu,
body.hfe-onboarding-fullscreen #wpfooter {
       display: none;
}
body.hfe-onboarding-fullscreen #wpcontent {
       margin-left: 0;
       padding-left: 0;
}
body.hfe-onboarding-fullscreen.admin-bar {
       margin-top: 0 !important;
}


input[type="checkbox"].uae-role-checkbox:focus{
	border-color:rgb(92, 46, 222);
	box-shadow:0 0 0 1px rgb(92, 46, 222);
}

#wpfooter{
    background-color: white;
}
.uae-rating{
    color: #6005FF;
}

.uae-rating:hover{
	color: #4B00CC;
}