@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css?family=Josefin+Sans");

/* Add to your main CSS file (e.g., index.css) */

.loader {
	border: 4px solid #f3f3f3;
	border-radius: 50%;
	border-top: 4px solid #3498db;
	width: 40px;
	height: 40px;
	animation: spin 2s linear infinite;
}

.hfe-subheading h2 {
	font-size: 1.1rem !important;
}
.hfe-subheading .text-text-secondary {
	font-size: 0.98rem !important;
}

.hfe-remove-ring input[type="checkbox"],
.hfe-remove-ring a,
.hfe-remove-ring {
	outline: none;
	--tw-ring-inset: auto;
	box-shadow: unset;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

@media (max-width: 768px) {
	.container {
		padding: 0 1rem;
	}

	.fixed {
		justify-content: flex-start !important;
	}

	.bg-white {
		width: 100% !important;
		height: 100% !important;
		border-radius: 0 !important;
	}
	.hfe-nav-menu {
		border-bottom: 1px solid #e5e7eb;
	}

	.hfe-sticky-sidebar {
		position: -webkit-sticky;
		position: sticky;
		top: 0;
	}

	.hfe-settings-page:before {
		-webkit-animation-fill-mode: both;
		animation-fill-mode: both;
		background: #fff;
		content: " ";
		height: 100%;
		position: fixed;
		left: 0;
		top: 0;
		-webkit-transform-origin: right;
		-ms-transform-origin: right;
		transform-origin: right;
		border-right: 1px solid #e5e7eb;
		width: 30%;
	}

	.hfe-remove-ring input[type="checkbox"],
	.hfe-remove-ring a,
	.hfe-remove-ring {
		outline: none; /* Removes the outline */
		-webkit-box-shadow: none !important;
		box-shadow: none !important; /* Ensures no shadow on focus */
		--tw-ring-inset: auto; /* Tailwind-specific variable, keep if needed */
	}
	.hfe-remove-ring a:focus,
	.hfe-remove-ring input[type="checkbox"]:focus {
		outline: none; /* Ensures focus does not trigger the outline */
		-webkit-box-shadow: none !important;
		box-shadow: none !important; /* Safeguards against custom focus shadows */
	}

	.hfe-sticky-outer-wrapper {
		/* position: absolute;
		height: -webkit-fill-available;
		top: inherit; */
		width: 23%;
		border-right: 1px solid #e5e7eb;
	}

	.hfe-hide-scrollbar {
		overflow: hidden; /* Hide scrollbar */
	}
	.hfe-hide-scrollbar::-webkit-scrollbar {
		display: none; /* Hide scrollbar for WebKit browsers */
	}
	.hfe-hide-scrollbar {
		-ms-overflow-style: none; /* Hide scrollbar for IE and Edge */
		scrollbar-width: none; /* Hide scrollbar for Firefox */
	}
}

.subject-cell {
	max-width: 200px; /* Adjust this width based on your layout */
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

/* .hfe-menu-page-wrapper {
	width: calc( 100% - 25px);
} */
#hfe-settings-app .gap-2 {
	gap: 1.2rem;
}
.toplevel_page_hfe #wpcontent {
	padding-left: 0;
}
div#hfe-settings-app {
	font-size: 15px;
	font-weight: 500;
	line-height: normal;
}
/* #hfe-settings-app .p-5 {
    padding: 0.5rem 1.25rem;
} */
#hfe-settings-app .hfe-header-title h6 {
	color: #858484;
	font-size: 14px;
}
.hfe-settings-content-wrapper {
	padding: 15px 25px;
}
button.hfe-plugin-activated {
	color: #16a34a;
}
button.uae-bulk-action-button {
	width: 150px;
}
