.wcf-global-settings-content-table {
	// min-width: 200px;
	// height: 34px;
	// line-height: 34px;
	// text-align: left;

	.wcf-field-row-roles-structure {
		.wcf-selection-card {
			padding: 0.5rem 0.7rem 0.5rem 0.5rem !important;
		}
		.wcf-selection-card--selected {
			color: #e54e1a;
		}
		th {
			border: none !important;
			padding: 0 !important;
		}
	}
}
