.toplevel_page_cartflows .wcf-menu-page-wrapper {
	@apply font-inter;
}

.toplevel_page_cartflows #adminmenuback {
	z-index: 99 !important;
}
.wcf-hide {
	display: none !important;
}

/* Popu header */
// .wcf-popup-header-title {
// 	display: flex;
// 	align-items: center;
// 	font-size: 15px;
// 	font-weight: 500;
// 	color: #444;
// 	letter-spacing: 0;
// 	text-transform: none;
// 	text-decoration: none;
// }

// .wcf-popup-header-title .cartflows-logo-icon {
// 	padding: 15px;
// }

// .wcf-popup-header-action {
// 	display: inline-block;
// 	display: flex;
// 	align-items: center;
// 	padding: 15px;
// 	border-left: 1px solid #ddd;
// 	position: relative;
// 	color: #ccc;
// 	cursor: pointer;

// 	.dashicons {
// 		line-height: 1;
// 	}

// 	&::after {
// 		// content: '\2807';
// 		font-size: 25px;
// 	}

// 	&:hover {
// 		color: #aaa;
// 	}
// }

.wcf-message,
.wcf-error-message--toggle,
.wcf-error--info {
	padding: 5px;
	display: block;
	font-size: 12px;
}

.wcf-message--error {
	color: var( --primary-color );
}

.wcf-error-message--toggle {
	cursor: pointer;
}

.wcf-error--info {
	background-color: #f2f2f2;
	border-radius: 3px;
	padding: 10px;
	border: 1px #ccc dashed;
}
.wcf-video-container {
	position: relative;
	width: 100%;
	padding-bottom: 56.25%;

	.wcf-video {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		border: 0;
	}
}

/**
* ******************************************
* New Common classes for the whole admin UI
* ******************************************
*/

.toplevel_page_cartflows {
	/* width */
	::-webkit-scrollbar {
		width: 7px;
		height: 7px;
		border-radius: 50px;
	}

	/* Track */
	::-webkit-scrollbar-track {
		background: #fff;
	}

	/* Handle */
	::-webkit-scrollbar-thumb {
		background: #6b728154;
		border-radius: 50px;
	}

	/* Handle on hover */
	::-webkit-scrollbar-thumb:hover {
		background: #6b728178;
	}
}

.toplevel_page_cartflows {
	@apply bg-gray-100;

	.wcf-field__doc-content a,
	.wcf-field__desc a {
		@apply text-primary-500;
	}
}

.wcf-main--nav-menu {
	@apply border-b border-gray-200 bg-white px-8 mx-auto flex h-16 justify-between;
}

.wcf-button-animate {
	@apply transition ease-linear duration-150;
}

.wcf-button {
	@apply inline-flex justify-center items-center gap-1.5 rounded border-0 px-4 py-2.5 text-sm font-medium leading-4 shadow-sm cursor-pointer wcf-button-animate;
}

// Buttons
.wcf-primary-button {
	@apply bg-primary-500 text-white;
	&:hover {
		@apply text-white bg-primary-600;
	}
	&:focus {
		@apply bg-primary-500 ring-offset-2 ring-2 ring-primary-500 outline-none;
	}
	&:active {
		@apply text-white;
	}
}

.wcf-secondary-button {
	@apply bg-primary-25 border border-primary-300 text-primary-600;
	&:hover {
		@apply bg-primary-50 text-primary-600;
	}
	&:focus {
		@apply bg-primary-50 text-primary-600 ring-offset-2 ring-2 ring-primary-500 outline-none;
	}
}

.wcf-disabled {
	@apply bg-gray-200 text-gray-400 pointer-events-none;
	&:hover {
		@apply text-white bg-gray-200;
	}
	&:focus {
		@apply bg-gray-200 ring-offset-2 ring-2 ring-gray-200 outline-none;
	}
}

.wcf-badge {
	@apply inline-flex items-center gap-1.5 px-3 py-1 font-normal text-sm rounded-full border cursor-default whitespace-nowrap;
}

.wcf-badge--success {
	@apply bg-green-50 border-green-200 text-green-600;
}
.wcf-badge--warning {
	@apply bg-amber-50 border-amber-200 text-amber-600;
}
.wcf-badge--error {
	@apply bg-red-50 border-red-200 text-red-600;
}
.wcf-badge--info {
	@apply bg-primary-500 border-primary-500 text-white;
}

.sortable-chosen,
.sortable-ghost {
	@apply border border-dashed border-primary-500 opacity-100;
}

.wcf-inline-tooltip {
	@apply after:absolute after:invisible after:bg-gray-700 after:content-[attr(data-tooltip)] after:py-1 after:px-2 after:rounded after:text-[11px] after:text-white after:whitespace-nowrap after:top-12 after:-left-1.5 after:z-10;

	&:hover {
		@apply hover:after:visible  group-hover:after:block;
	}
}

@keyframes wcf-button-loading {
	0% {
		background-position: 200px 0;
	}
}

.wcf-button-loading {
	animation: wcf-button-loading 2.5s linear infinite;
	opacity: 1;
	background-size: 100px 100%;
	background-image: linear-gradient( -45deg, #f06335 28%, #f78860 0, #f78860 72%, #f06335 0 );
}
