.wcf-order-bump-preview-wrapper {
	-webkit-transition: all 0.3s;
	transition: all 0.3s;

	&.sticky {
		position: sticky;
		top: 120px;
	}
}

.wcf-order-bump-design-tab__preview--title {
	border-bottom: 1px solid #ddd;
	padding: 0 0 5px;
	margin-bottom: 20px;

	label {
		font-size: 16px;
		font-weight: 600;
	}
}

.wcf-bump-order-wrap {
	width: 100%;
	display: block;
	float: none;
	margin: 1em auto 1em;
	overflow: hidden;
	word-break: break-all;
	font-size: 15px;

	.wcf-bump-order-field-wrap .wcf-pointing-arrow {
		margin-right: 5px;
		vertical-align: middle;
		-webkit-transform: scaleX( 1 );
		-ms-transform: scaleX( 1 );
		transform: scaleX( 1 );
	}

	.wcf-bump-order-desc {
		line-height: 1.7;

		p {
			margin: 0 0 0.6em;
			padding: 0;
		}

		p:last-child {
			margin: 0;
			padding: 0;
		}

		ul,
		li {
			margin: 0;
			padding: 0;
			list-style: inherit;
			list-style-position: inside;
		}
		ol {
			margin: 0;
		}
	}

	del.wcf-regular-price {
		font-weight: 400;
		color: #7a7a7a;
		font-size: 16px;
	}

	span.wcf-discount-price,
	span.wcf-normal-price {
		font-weight: 600;
		color: #444;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		margin: 0;
		padding: 0;
		font-weight: 500;
		line-height: 1.3em;
	}

	.wcf-ob-qty-selection-wrap {
		display: flex;
		padding: 5px 0;

		.wcf-ob-qty-change-icon {
			border: 1px solid #dcdada;
			height: 30px;
			width: 26px;
			margin: 0;
			padding: 6px 6px;
			color: #555;
			text-align: center;
			font-weight: 500;
			cursor: pointer;
			font-size: 13px;
			margin-bottom: 0;
			display: flex;
			justify-content: center;
			align-items: center;
		}

		.wcf-ob-qty-decrement {
			border-radius: 3px 0 0 3px;
			border-right: 0;
		}
		.wcf-ob-qty-increment {
			border-radius: 0 3px 3px 0;
			border-left: 0;
		}

		.wcf-order-bump-quantity-updater {
			width: 40px;
			min-width: 40px;
			min-height: 30px;
			padding: 2px 5px;
			color: #666;
			margin: 0;
			border: 1px solid #dcdada;
			border-left: 0;
			border-right: 0;
			border-radius: 0;
			appearance: textfield;
			text-align: center;
			line-height: 1;
			outline: none;

			&::-webkit-inner-spin-button,
			&::-webkit-outer-spin-button {
				-webkit-appearance: none;
			}
		}
	}
}

@-webkit-keyframes wcf-blinker {
	0% {
		visibility: hidden;
	}

	40% {
		visibility: hidden;
	}
}

@keyframes wcf-blinker {
	0% {
		visibility: hidden;
	}

	40% {
		visibility: hidden;
	}
}

.wcf-blink {
	-webkit-animation: wcf-blinker 0.8s linear infinite;
	animation: wcf-blinker 0.8s linear infinite;
	-webkit-animation-direction: alternate;
	animation-direction: alternate;
}

/*
* ****************************
* Bump Order Style Five Start
* ****************************
*/

.wcf-bump-order-style-5 {
	background: #fff;
	-webkit-border-radius: 3px;
	border-radius: 4px;
	border-width: 1px;
	border-style: solid;
	border-color: #e5e7eb;
	display: inline-block;
	padding: 15px;
	position: relative;
	width: 100%;
	overflow: unset;

	.wcf-bump-order-field-wrap {
		-js-display: flex;
		display: -webkit-box;
		display: -webkit-flex;
		display: -moz-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		-webkit-align-items: center;
		-moz-box-align: center;
		-ms-flex-align: center;
		align-items: center;
	}

	.wcf-bump-order-label {
		font-weight: 600;
		color: #1a1e23;
		font-size: 18px;
		line-height: 1;
	}

	.wcf-bump-order-label,
	.wcf-bump-order-desc {
		margin: 0 0 15px 0;
	}

	.wcf-bump-order-desc {
		color: #7a7a7a;
	}

	.wcf-bump-order-content {
		.wcf-bump-order-field-wrap {
			.wcf-bump-order-action {
				line-height: 1.2;
				padding: 5px 0;
				width: fit-content;
				vertical-align: middle;
				color: #7a7a7a;

				label {
					font-weight: 400;
				}

				&.wcf-ob-action-button {
					border: none;
					padding: 0;
					line-height: unset;
				}

				input[type="checkbox"] {
					height: 20px;
					width: 20px;
					margin: 0 10px 0 0;
					-webkit-border-radius: 3px;
					border-radius: 3px;
					color: #f16334;
				}

				input[type="checkbox"]:checked::before {
					font: normal normal 400 21px/1 dashicons;
					content: "\f147";
					width: 20px;
					top: 2px;
					position: relative;
					left: 1px;
				}

				.wcf-bump-order-cb-button {
					display: block;
					margin: 0;
					border: 1px solid #ccc;
					color: #333;
					padding: 8px 20px;
					border-radius: 3px;
					text-decoration: none;
					text-transform: none;

					.wcf-processing {
						opacity: 0.7;
						background: #fff;
						pointer-events: none;
					}

					.wcf-bump-remove-from-cart:hover {
						color: #fff;
						background: #e43b2c;
					}
				}

				.wcf-bump-order-cb-button:hover {
					//background-color: #f9f9f9;
					cursor: pointer;
				}

				.wcf-bump-order-cb-button.processing {
					background: linear-gradient( to left, #fff 50%, rgb( 186, 241, 202 ) 50% ) right;
					background-size: 210%;
					border-color: rgb( 186, 241, 202 );

					/*background-position: left;*/
					transition: 0.5s ease-out;
				}
			}
		}
	}

	.wcf-bump-order-info {
		display: flex;
		align-items: center;

		&.wcf-bump-order-image-top {
			display: inline-block;
			text-align: center;

			.wcf-bump-order-image {
				margin: 0 0 15px 0;
				display: inline-block;
				text-align: center;
			}

			.wcf-bump-order-action {
				display: inline-block;
			}
		}

		&.wcf-bump-order-image-right {
			.wcf-bump-order-image {
				margin: 0 0 0 15px;
			}

			.wcf-bump-order-text {
				text-align: right;
			}

			.wcf-bump-order-action {
				display: inline-block;
			}
		}

		&.wcf-bump-order-image-right {
			margin: 0 0 0 15px;
		}
	}

	.wcf-bump-order-image {
		max-width: 30%;
		display: inline-flex;
		margin: 0 15px 0 0;

		img {
			max-width: 100%;
		}
	}
}

/*
* ****************************
* Bump Order Style Five End
* ****************************
*/

/*
* ****************************
* Bump Order Style Four
* ****************************
*/

.wcf-bump-order-style-4 {
	border-width: 1px;
	border-style: dashed;
	border-color: #e5e7eb;
	background: #fff;
	border-radius: 3px;
	display: inline-block;
	padding: 20px;
	position: relative;
	width: 100%;
	overflow: unset;

	.wcf-bump-order-content .wcf-bump-order-field-wrap {
		display: flex;
		align-items: center;

		.wcf-bump-order-info {
			flex: 0 0 calc( 100% - 100px );
			-webkit-flex: 0 0 calc( 100% - 115px );
		}

		.wcf-bump-order-action {
			display: flex;
			text-align: center;
			width: auto;
			white-space: nowrap;
			margin-left: 15px;

			.wcf-bump-order-cb-button {
				margin: 0;
				border-width: 1px;
				border-color: #ccc;
				color: #333;
				padding: 8px 20px;
				border-radius: 3px;
				text-decoration: none;
				text-transform: none;

				.wcf-processing {
					opacity: 0.7;
					background: #fff;
					pointer-events: none;
				}

				.wcf-bump-remove-from-cart:hover {
					color: #fff;
					background: #e43b2c;
				}
			}

			.wcf-bump-order-cb-button:hover {
				//background-color: #f9f9f9;
				cursor: pointer;
			}

			.wcf-bump-order-cb-button.processing {
				background: linear-gradient( to left, #fff 50%, rgb( 186, 241, 202 ) 50% ) right;
				background-size: 210%;
				border-color: rgb( 186, 241, 202 );

				/*background-position: left;*/
				transition: 0.5s ease-out;
			}

			input[type="checkbox"] {
				display: none;
			}

			input[type="checkbox"]:checked::before {
				font: normal normal 400 20px/1 cartflows-icon;
				width: 20px;
				top: 2px;
				position: relative;
				left: 2px;
			}
		}

		.wcf-bump-order-image {
			display: inline;

			/*flex: 0 0 100px;
			width: 100px;*/
			margin-right: 25px;
			align-self: center;
			-webkit-flex: 0 0 100px;

			img {
				width: 100px;
				vertical-align: middle;
			}
		}

		.wcf-bump-order-label {
			color: #1a1e23;
			font-size: 18px;
			margin-bottom: 5px;
			font-weight: 600;
		}

		.wcf-bump-order-text {
			align-items: center;
			// display: flex;
			justify-content: space-between;
			width: 100%;
		}

		.wcf-bump-order-desc {
			// font-size: 13px;
			color: #7a7a7a;
		}
	}

	.wcf-content-container {
		padding: 25px 0;
	}

	/* Image position related CSS */
	.wcf-bump-order-content {
		&.wcf-bump-order-image-top {
			.wcf-bump-order-field-wrap {
				display: block;
				text-align: center;
			}

			.wcf-bump-order-action {
				text-align: center;
				justify-content: center;
				margin: 10px 0 0 0;
			}
			.wcf-bump-order-image {
				margin: 0;
				img {
					padding: 0 0 20px 0;
				}
			}
		}

		&.wcf-bump-order-image-right {
			.wcf-bump-order-field-wrap {
				text-align: right;
			}

			.wcf-bump-order-action {
				min-width: 80px;
			}

			.wcf-bump-order-text {
				margin: 0 15px;
			}

			.wcf-bump-order-image {
				margin: 0 0 0 15px;
			}
		}
	}

	/* Image position related CSS */
}

/*
* ***********************
* Bump Order Style Three
* ***********************
*/
.wcf-bump-order-style-3 {
	border-width: 1px;
	border-style: solid;
	border-color: #e5e7eb;
	background: transparent;
	display: inline-block;
	padding: 20px;
	position: relative;
	width: 100%;
	overflow: unset;
	box-shadow: 0 4px 16px -8px rgba( 0, 0, 0, 0.16 );

	.wcf-bump-order-info {
		display: flex;
		align-items: center;
		max-width: 100%;
	}

	.wcf-bump-order-content {
		padding: 0;

		.wcf-bump-order-field-wrap {
			display: flex;
			align-items: center;

			.wcf-bump-order-action {
				display: flex;
				align-items: center;
				max-width: 60px;
				justify-content: center;
				width: 100%;

				input[type="checkbox"] {
					height: 20px;
					width: 20px;
					margin: 0 20px 0 0;
					border-radius: 3px;
				}

				input[type="checkbox"]:checked::before {
					font: normal normal 400 21px/1 dashicons;
					width: 20px;
					height: 20px;
					top: 2px;
					position: relative;
					left: 2px;
					content: "\f147";
					color: #f16334;
				}
			}

			.wcf-bump-order-label {
				input[type="checkbox"] {
					height: 20px;
					width: 20px;
					margin: 0 10px 0 0;
					border-radius: 3px;
				}

				input[type="checkbox"]:checked::before {
					font: normal normal 400 21px/1 dashicons;
					width: 20px;
					height: 20px;
					top: 2px;
					position: relative;
					left: 2px;
					content: "\f147";
					color: #f16334;
				}
			}

			.wcf-bump-order-image {
				max-width: 20%;
				margin-right: 10px;
				align-self: center;
				width: 100%;

				img {
					vertical-align: middle;
					width: 100%;
				}
			}

			.wcf-bump-order-label {
				font-size: 18px;
				font-weight: 600;
				color: #1a1e23;
			}

			.wcf-bump-order-text {
				align-self: center;
				margin-left: 10px;
				max-width: 100%;
				width: 100%;
			}

			.wcf-bump-order-desc {
				// font-size: 13px;
				margin-top: 10px;
				color: #7a7a7a;
			}
		}
	}

	.wcf-content-container {
		padding: 25px 0;
	}

	.wcf-bump-order-content {
		&.wcf-bump-order-image-top {
			.wcf-bump-order-field-wrap {
				display: block;

				.wcf-bump-order-action,
				.wcf-bump-order-info,
				.wcf-bump-order-text {
					display: block;
					text-align: center;
				}

				.wcf-bump-order-image {
					margin: 0 auto;
					text-align: center;

					img {
						width: 100%;
						height: auto;
						padding: 0 0 20px 0;
					}
				}
			}
		}

		&.wcf-bump-order-image-right {
			.wcf-bump-order-field-wrap {
				text-align: right;
			}

			.wcf-bump-order-image {
				margin-left: 5px;
			}

			.wcf-bump-order-action {
				input[type="checkbox"] {
					margin: 0 10px 0 0;
				}

				.wcf-pointing-arrow {
					transform: rotate( 180deg );
				}
			}
			.wcf-bump-order-label {
				input[type="checkbox"] {
					margin: 0 0 0 10px;
				}

				.wcf-pointing-arrow {
					transform: rotate( 180deg );
					display: inline-block;
					margin: 0 10px;
				}
			}

			.wcf-bump-order-text {
				margin-right: 10px;
			}
		}
	}
}

/*
* ***********************
* Bump Order Style Two
* ***********************
*/

.wcf-bump-order-style-2 {
	border: 1px #e5e7eb dashed;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	display: inline-block;
	box-shadow: 0 4px 16px -8px rgba( 0, 0, 0, 0.16 );

	.wcf-bump-order-offer {
		padding: 20px 25px;
		font-size: 18px;
		font-weight: 600;
		color: #1a1e23;
	}

	.wcf-content-container {
		display: flex;
		align-items: center;
		padding: 0 25px 25px;
	}

	.wcf-bump-order-offer-content-right {
		width: 100%;
	}

	.wcf-bump-order-desc {
		padding: 0;
		color: #7a7a7a;
	}

	.wcf-bump-order-field-wrap {
		border-top: 1px #e5e7eb dashed;
		padding: 15px 25px;
		margin: 0;
		font-size: 1.1em;
		display: block;
		background-color: #f7fafc;

		label {
			display: flex;
			align-items: center;
			line-height: normal;
			cursor: pointer;
			width: fit-content;
		}

		.wcf-bump-order-cb {
			margin: 0;
		}

		.wcf-bump-order-label {
			margin-left: 10px;
			font-weight: 400;
		}
	}

	.wcf-bump-order-offer-content-left {
		width: 40%;
		display: inline-block;
		vertical-align: middle;
		margin: 0;
	}

	.wcf-bump-order-offer-content-left + .wcf-bump-order-offer-content-right {
		// width: 60%;
		display: inline-block;
		vertical-align: middle;
		margin-left: 20px;
	}

	.wcf-bump-order-content {
		&.wcf-bump-order-image-top {
			.wcf-content-container {
				display: block;
			}

			.wcf-bump-order-offer {
				text-align: center;
			}

			.wcf-bump-order-field-wrap {
				text-align: center;
			}

			.wcf-bump-order-offer-content-left,
			.wcf-bump-order-offer-content-right {
				display: block;
				width: 100%;
				margin: 0 auto;
				text-align: center;
			}

			.wcf-bump-order-offer-content-left {
				width: 40%;
			}

			.wcf-bump-order-offer-content-left {
				img {
					padding: 0 25px 25px 25px;
				}
			}
		}

		&.wcf-bump-order-image-right {
			.wcf-bump-order-offer {
				text-align: right;
			}

			.wcf-bump-order-field-wrap {
				label {
					justify-content: end;
				}

				input[type="checkbox"],
				input[type="radio"] {
					margin-left: 5px;
				}

				.wcf-pointing-arrow {
					transform: rotate( 180deg );
					margin-top: -5px;
				}
			}

			.wcf-bump-order-offer-content-right {
				display: inline-block;
				// width: 60%;
				vertical-align: middle;
				text-align: right;

				.wcf-bump-order-desc {
					margin: 0 0 0 25px;
					padding: 0 25px 0 0;
				}
			}

			.wcf-bump-order-offer-content-left {
				width: 40%;
				display: inline-block;
			}
		}
	}
}

.wcf-embed-checkout-form-one-column .wcf-bump-order-style-2 .wcf-bump-order-offer-content-left {
	width: 14%;
}

.wcf-embed-checkout-form-one-column .wcf-bump-order-style-2 .wcf-bump-order-offer-content-left + .wcf-bump-order-offer-content-right {
	width: 85%;
}

.wcf-show-coupon-field-toggle {
	padding-top: 1em;
}

/*
* ***********************
* Bump Order Style One
* ***********************
*/

.wcf-bump-order-style-1 {
	background: #fff;
	border-style: solid;
	border-width: 1px;
	border-color: #e5e7eb;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	box-shadow: 0 4px 16px -8px rgb( 0 0 0 / 16% );
	display: inline-block;

	.wcf-bump-order-offer {
		padding: 0 0 10px;
		font-size: 1.2em;
		font-size: 18px;
		font-weight: 600;
		color: #1a1e23;
	}

	.wcf-bump-order-content {
		&.wcf-bump-order-image-top {
			.wcf-content-container {
				display: block;
			}

			.wcf-bump-order-field-wrap {
				text-align: center;
			}

			.wcf-bump-order-offer-content-left,
			.wcf-bump-order-offer-content-right {
				display: block;
				width: 100%;
				margin: 0 auto;
				text-align: center;
			}

			.wcf-bump-order-offer-content-left {
				width: 40%;
			}

			.wcf-bump-order-offer-content-left {
				img {
					padding: 0 25px 25px 25px;
				}
			}
		}

		&.wcf-bump-order-image-right {
			.wcf-bump-order-field-wrap {
				label {
					justify-content: end;
				}

				input[type="checkbox"],
				input[type="radio"] {
					margin-left: 5px;
				}

				.wcf-pointing-arrow {
					transform: rotate( 180deg );
					margin-top: -5px;
				}
			}

			.wcf-bump-order-offer,
			.wcf-bump-order-desc {
				margin: 0 0 0 25px;
				padding: 0 25px 0 0;
			}

			.wcf-bump-order-offer-content-right {
				display: inline-block;
				// width: 60%;
				vertical-align: middle;
				text-align: right;
			}

			.wcf-bump-order-offer-content-left {
				width: 38%;
				display: inline-block;

				img {
					margin: 0;
				}
			}
		}
	}

	.wcf-content-container {
		display: flex;
		padding: 20px;
		align-items: center;
	}

	.wcf-bump-order-offer-content-right {
		width: 100%;
	}

	.wcf-bump-order-desc {
		padding: 0;
		color: #7a7a7a;
	}

	.wcf-bump-order-field-wrap {
		border-bottom-style: solid;
		border-width: 0 0 1px 0;
		border-color: #e5e7eb;
		padding: 20px;
		margin: 0;
		font-size: 16px;
		font-weight: 400;
		display: block;
		background: #f7fafc;

		label {
			display: flex;
			align-items: center;
			line-height: normal;
			cursor: pointer;
			width: fit-content;
		}
		.wcf-bump-order-cb {
			margin: 0;
		}
		.wcf-bump-order-label {
			margin-left: 10px;
			font-weight: 400;
		}
	}

	.wcf-bump-order-offer-content-left {
		width: 38%;
		display: inline-block;
		vertical-align: middle;
		margin: 0;
	}

	.wcf-bump-order-offer-content-left + .wcf-bump-order-offer-content-right {
		// width: 60%;
		display: inline-block;
		vertical-align: middle;
		margin-left: 20px;
	}
}

.wcf-embed-checkout-form .woocommerce #payment .wcf-bump-order-wrap input[type="checkbox"] {
	margin: 0 4px 0 0;
}

.wcf-embed-checkout-form-two-column .wcf-bump-order-style-1.wcf-after-customer,
.wcf-embed-checkout-form-two-column .wcf-bump-order-style-2.wcf-after-customer,
.wcf-embed-checkout-form-two-column .wcf-bump-order-style-3.wcf-after-customer {
	float: left;
	width: -webkit-calc( 55% - 40px );
	width: calc( 55% - 40px );
}

.wcf-embed-checkout-form-two-column .wcf-bump-order-style-1.wcf-after-order,
.wcf-embed-checkout-form-two-column .wcf-bump-order-style-2.wcf-after-order,
.wcf-embed-checkout-form-two-column .wcf-bump-order-style-3.wcf-after-order {
	margin: 1em auto 0;
}

.wcf-embed-checkout-form-one-column .wcf-bump-order-style-1 .wcf-bump-order-offer-content-left {
	width: 14%;
}

.wcf-embed-checkout-form-one-column .wcf-bump-order-style-1 .wcf-bump-order-offer-content-left + .wcf-bump-order-offer-content-right {
	width: 85%;
}

.wcf-bump-order-wrap .wcf-bump-order-offer-content-left img {
	max-width: 100%;
	vertical-align: middle;
}
