name: CI

on: pull_request

jobs:
  CI:
    runs-on: ubuntu-latest
    
    strategy:
      matrix:
        node: [ 14.15 ]
        php: ['7.4']
        
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}
          coverage: none
          tools: composer
            
      - name: Install composer dependencies
        run: composer config github-oauth.github.com ${{ secrets.BSF_PRODUCTS_REPO_TOKEN }} && composer install --prefer-dist --no-suggest --no-progress

      - name: PHPCS check
        if: always()
        uses: chekalsky/phpcs-action@v1
        with:
          phpcs_bin_path: './vendor/bin/phpcs'
          
      - name: Use desired version of NodeJS
        uses: actions/setup-node@v3
        with:
            node-version: ${{ matrix.node }}
            cache: 'npm'

      - name: npm install
        run: npm ci

      - name: Build project
      run: npm run build

      - name: Lint JS
        run: npm run lint:js
