.wcf-flow-analytics {
	&.is-placeholder {
		.wcf-flow-analytics__revenue {
			.wcf-flow-analytics__revenue--block {
				.title,
				.value {
					padding: 15px;
					background-position: 0 center;
					background-image: linear-gradient( 90deg, #ddd 0, #e8e8e8 10px, #ddd 80px );
					animation: shine-lines 1.6s infinite linear;
				}

				.title {
					width: 80%;
				}

				.value {
					width: 60%;
				}
			}
		}

		.wcf-flow-analytics__filters {
			.wcf-flow-analytics__filters-buttons {
				width: 8%;
				padding: 15px;
				background-position: 0 center;
				border-right: 1px #fff solid;
				background-image: linear-gradient( 90deg, #ddd 0, #e8e8e8 10px, #ddd 80px );
				animation: shine-lines 1.6s infinite linear;
			}

			.wcf-flow-analytics__filters-right {
				display: flex;

				.wcf-custom-filter-input {
					padding: 15px 80px;
					background-position: 0 center;
					background-image: linear-gradient( 90deg, #ddd 0, #e8e8e8 10px, #ddd 80px );
					animation: shine-lines 1.6s infinite linear;
				}

				.wcf-filters__buttons--custom-search {
					width: 8%;
					padding: 15px 50px;
					background-position: 0 center;
					border: none;
					background-image: linear-gradient( 90deg, #ddd 0, #e8e8e8 10px, #ddd 80px );
					animation: shine-lines 1.6s infinite linear;
				}
			}
		}

		.wcf-flow-analytics__report {
			.wcf-flow-analytics__report-table {
				.header__title,
				.header__item,
				.step-name,
				.table-data {
					padding: 15px;
					background-position: 0 center;
					background-image: linear-gradient( 90deg, #ddd 0, #e8e8e8 10px, #ddd 80px );
					margin-right: 15px;
					animation: shine-lines 1.6s infinite linear;
				}

				.header__title:last-child,
				.header__item:last-child,
				.step-name:last-child,
				.table-data:last-child {
					margin-right: 0;
				}
			}
		}
	}
}

@keyframes shine-lines {
	0% {
		background-position: -250px;
	}

	40%,
	100% {
		background-position: 0;
	}
}
