.wcf-flow-analytics__pro-options-cta {
	&::before,
	.wcf-flow-analytics__revenue--block::before {
		content: "";
		position: absolute;
		left: 0;
		top: 0;
		height: 100%;
		width: 100%;
		background: rgba( 255, 255, 255, 0.5 );
	}

	position: relative;
	filter: blur( 4px );
	-webkit-filter: blur( 4px );
	pointer-events: none;
	user-select: none;
}
